:root {
    --primary-color: rgb(68, 68, 218);
    --secondary-color:rgb(255, 183, 0);
    --text-color-normal:black;
    --text-color-white:rgb(255, 255, 255);
    --base-color-white:white;
    --background-color:rgb(243, 243, 243);
    --box-shadow:0px 1px 5px rgba(158, 158, 158, 0.573);
    --background-footer:rgb(40, 23, 23);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color-normal);
}

/* Header Section */

header {
    background-color: var(--base-color-white);
    box-shadow: var(--box-shadow);
    padding: 15px 20px;
    /* border: 1px solid red; */
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid rgb(136, 0, 255); */
}

.logo-menu {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    a {
        text-decoration: none;
        color: var(--background-footer)
    }
    a:hover {
        color: var(--secondary-color);
        transition: all 0.3s ease;
    }
    img {
        width: 30px;
        height: auto;
    }
}


/* Button Style */
    .btn-filled {
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid var(--primary-color);
        transition: all 0.3s ease;
        cursor: pointer;
        
        background-color: var(--primary-color);
        color: var(--base-color-white);

    }
    .btn-filled:hover {
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid var(--secondary-color);
        
        background-color: var(--secondary-color);
        color: var(--base-color-white);

    }
    .btn-outline {
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid var(--secondary-color);
        cursor: pointer;

        background-color: var(--base-color-white);
        color: var(--secondary-color);
        transition: all 0.3s ease;

    }
    .btn-outline:hover {

        background-color: var(--secondary-color);
        color: var(--base-color-white);

    }

/* Menu */
nav {
    margin-left: 20px;
    align-self: center;
    ul{
        display: flex;
        gap: 15px;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        font-weight: bold;
        color: rgb(69, 69, 205);
    }
    a:hover {
        color: rgb(255, 196, 0);
    }
}

/* Container Section */
.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px ;
}

    /* Hero Section */
.hero {
    display: flex;
    justify-content: space-between; 
    align-items: center;

    .left-side {
        width: 55%;
        /* border: 1px solid red; */
        h1 {
            color: var(--secondary-color);
            font-size: 2.5rem;
            margin-bottom: 24px;
        }
        p {
            font-size: 1.2rem;
            margin: 24px 0;
        }
    }
    .right-side {
        /* border: 1px solid rgb(0, 76, 255); */
        width: 45%;
        img {
            width: 100%;
        }
    }
}

/* Solution Section */
.solution {
    margin-top: 50px;
}

.solution-heading {
    text-align: center;
    margin-bottom: 24px;
    
    h2 {
        font-size: 2rem;
        margin-bottom: 24px;
        color: var(--primary-color);
    }
    p {
        font-size: 1.2rem;
        margin-bottom: 24px;
    }
}


.solution-content {
    display: flex;
    justify-content: space-between;
    .item {
        width: 32%;
        h3 {
            color: var(--primary-color);
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
}


.item {
    border-radius: 10px;
    padding: 20px;
    
    /* margin: 10px; */
    
    box-shadow: var(--box-shadow);
}

/* Discovery Section */

.discover-content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    h2 {
        font-size: 2rem;
        margin-bottom: 24px;
        color: var(--primary-color);
    }
    .item {
        h3 {
            color: var(--primary-color);
            font-size: 24px;
            margin-bottom: 10px;
        }
    }
}
.customize {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-side {
        width: 60%;
        h1 {
            color: var(--secondary-color);
            font-size: 2.5rem;
            margin-bottom: 24px;
        }
        p {
            font-size: 1.2rem;
            margin: 24px 0;
        }

    }
    .right-side {
        width: 40%;
        img {
            width: 100%;
        
    }
}
}

.support {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    .left-side {
        width: 40%;
        img {
            width: 100%;
        }
    } 
    .right-side {
        width: 60%;
        h1 {
            color: var(--secondary-color);
            font-size: 2.5rem;
            margin-bottom: 24px;
        }
        p {
            font-size: 1.2rem;
            margin: 24px 0;
        }      
    }
}

footer {
    background-color: var(--background-footer);
    color: var(--base-color-white);
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;
}

.footer-left {
    h3 {
        color: var(--secondary-color);
        margin-bottom: 20px;
    }
}

.footer-right {
    display: flex;
    gap: 40px;
    a {
        text-decoration: none;
        color: var(--base-color-white);
    }
    a:hover {
        color: var(--secondary-color);
    }
    ul {
        list-style: none;
        li {
            margin-bottom: 4px;
        }
    }
}

.footer-item {
    h4 {
        margin-bottom: 20px;
        font-size: 1.2rem;
    }
}

.full-screen-menu {
    display: none;
}

.hamburger-icon {
    display: none;
}


/* Responsive for tablet */


/* Responsive for mobile */

@media screen and (max-width: 768px) {

    .hamburger-icon {
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }

    .header-container {
        padding: 5px 10px;
    }

    .header-button {
        display: none;
    }

    nav {
        display: none;
    }
    .hero {
        flex-direction: column;    
        .left-side{
            width: 100%;
        }    
        .right-side {
            width: 50%;
        }
    }


    .solution-content {
        flex-direction: column;

        .item {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .customize {
        flex-direction: column;
        .right-side {
            width: 50%;
            margin-bottom: 50px;
        }
        .left-side {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .support {
        flex-direction: column;
        .right-side {
            width: 100%;
        }
        .left-side {
            width: 50%;
            margin-bottom: 20px;
        }
    }
    .discover-content {
        grid-template-columns: repeat(1,1fr);
    }
    .footer-container {
        flex-direction: column;
        .footer-right {
            flex-direction: column;
        }
        .footer-left {
            padding: 20px;
        }
    }
    .footer-item {
        margin-top: 10px;
        padding: 0px 20px;
    }
    
    /* เมนูเต็มจอ */
    .full-screen-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9); /* พื้นหลังสีดำโปร่งแสง */
        color: white;
        text-align: center;
        padding-top: 50px;
        z-index: 999;
    }

    .full-screen-menu ul {
        list-style: none;
        padding-top: 50px;
    }

    .full-screen-menu ul li {
        margin: 20px 0;
    }

    .full-screen-menu ul li a {
        font-size: 20px;
        color: white;
        text-decoration: none;
    }

    .full-screen-menu ul li a:hover {
        color: var(--secondary-color);
    }

    /* ปุ่มปิดเมนู */
    .close-btn {
        font-size: 32px;
        position: absolute;
        top: 20px;
        right: 30px;
        cursor: pointer;
    }

}
